# Node/Nest basics
node_modules
dist
coverage
.nyc_output
.eslintcache

# Env and secrets
.env
.env.*
!.env.example

# Logs and debug
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/Editor
.DS_Store
.idea
.vscode

# Prisma
.prisma
generated